{% if products %}
    {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                    <div>
                        {% for tag in product.tag.all %}
                            <span class="badge bg-secondary m-1">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p class="text-center">No products found.</p>
{% endif %}
