{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShadGallery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Shad Gallery</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <form id="search-form" method="GET">
        <div class="input-group mb-3">
            <input type="search" id="search-input" class="form-control" placeholder="Search by title, description or tag..." name="q">
        </div>
    </form>
</div>

<div class="container mt-5">
    <h1 class="text-center mb-5">Shad Gallery</h1>
    <div id="product-list" class="row">
        {% include 'gallery/product_list.html' %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const searchInput = document.getElementById("search-input");
        const productList = document.getElementById("product-list");
        let timeout = null;

        searchInput.addEventListener("keyup", function() {
            clearTimeout(timeout);

            timeout = setTimeout(function() {
                const query = searchInput.value;
                fetchProducts(query);
            }, 1000);
        });

        function fetchProducts(query) {
            const url = `{% url 'products' %}?q=` + encodeURIComponent(query);

            fetch(url, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.text())
            .then(data => {
                productList.innerHTML = data;
            })
            .catch(error => {
                console.error('Error fetching products:', error);
            });
        }
    });
</script>
</body>
</html>
